<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
<form method="post">
    <h1>Please provide your email to obtain a Paint Token</h1>
    <label for="email" >Email address:</label>
    <input type="email" name="email" id="email" placeholder="Email address" required autofocus>
    <br/>
    <button type="submit">Send me a token!</button>
</form>
</body>
</html>